/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJbecmNE.woff2)
    format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8,
    U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJnecmNE.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecg.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2)
    format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8,
    U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2)
    format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8,
    U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2)
    format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8,
    U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/*===================Сброс и настройка=============================*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
}

body {
  line-height: 1.6;
  font-size: 16px;
  color: #8a8a8a;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  background: #f59b00;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #fff no-repeat border-box;
  color: #f59b00;
}

/* ----------------- Header ----------------------*/

.header {
  background: #2f2f2f no-repeat 50%;
}

.header-main {
  display: flex;
  padding-top: 30px;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-img > img {
  width: 95px;
  height: 56px;
  object-fit: cover;
}

.menu-list {
  display: flex;
  gap: 40px;
}

.header_btn {
  margin-left: 90px;
}

.nav {
  margin-left: 483px;
}

.menu-item:hover {
  color: #fff;
}

/* ----------------- Section Main ----------------------*/

.main-content {
  background: #2f2f2f no-repeat 50%;
  height: 641px;
}

.main__bg {
  position: absolute;
  width: 849px;
  height: 565px;
  left: 825px;
  top: 79px;
}

.section-title {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: #f59b00;
  margin-bottom: 10px;
}

.section-subtitle {
  line-height: 1.3;
  font-size: 61px;
  font-weight: 700;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.section-text {
  margin-bottom: 35px;
}

.main-text {
  width: 420px;
  height: auto;
  padding-top: 119px;
}

.girl_bg {
  position: absolute;
  width: 620px;
  height: auto;
  left: 900px;
  top: 86px;
}

.star_bg {
  position: absolute;
  width: 228.86px;
  height: 129.86px;
  left: 585px;
  top: 565px;
}

/* ----------------- Section Main-slide ----------------------*/

.slide {
  margin-top: 130px;
}
.main-slide {
  display: flex;
  justify-content: space-between;
  height: 425px;
}
.bag-one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 264px;
  height: auto;
}
.bags-text {
  font-size: 20px;
  font-weight: 500;
}

.bags-text:hover {
  color: #000;
}

.bag1 {
  width: 216px;
  height: 250px;
  object-fit: cover;
  border: 1px solid #a3a3a3;
  border-radius: 10px;
}

/* ----------------- Section Content ----------------------*/

.content {
  margin-top: 130px;
  height: 646px;
}

.content-menu {
  display: flex;
  justify-content: space-between;
}

.vectorbg {
  position: absolute;
  width: 829.22px;
  height: 646px;
}

.bags {
  position: relative;
  width: 614px;
  height: 495px;
  left: -28px;
  object-fit: cover;
  margin-top: 75px;
}

.content-text {
  width: 460px;
  text-transform: capitalize;
  margin-top: 146px;
}
.section-content {
  line-height: 1.4;
  font-size: 31px;
  font-weight: 700;
  color: #000;
  margin-bottom: 25px;
}

.text-main {
  color: #2f2f2f;
  margin-bottom: 35px;
  text-transform: capitalize;
}

/* ----------------- Center Text ----------------------*/

.text-center {
  width: 510px;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 130px 0 60px 0;
}

/* ----------------- catalog ----------------------*/

.catalog-main {
  width: auto;
  height: 700.77px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item{
  width: 264px;
  height: 273px;
  opacity: 0.5;
  mix-blend-mode: normal;
  border-radius: 10px;
}


.item_1 {
  background: #FFE1E8;
}

.item_2 {
  background: #FFE1E8;
}

.item_3 {
  background: #F9DCFF;
}

.item_4 {
  background: #FFDEE7;
}

.item_5 {
  background: #ECF1FF;
}

.item_6 {
  background: #FADADE;
}

.item_7 {
  background: #FADADE;
}

.item_8 {
  background: #EBF4BF;
}

