/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJbecmNE.woff2)
    format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8,
    U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJnecmNE.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecg.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2)
    format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8,
    U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2)
    format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8,
    U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2)
    format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8,
    U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/*===================Сброс и настройка=============================*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

button {
  font: inherit;
  color: inherit;
  padding: 0;
  cursor: pointer;
  border: 0;
  background: none;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
}

body {
  line-height: 1.6;
  font-size: 16px;
  color: #8a8a8a;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}

.btn {
  font-weight: 500;
  padding: 15px 30px;
  border-radius: 5px;
  transition: 0.3s;
  border: 1px solid transparent;
}
.btn-primary {
  background: #f59b00;
  color: #fff;
}

.btn-primary:hover {
  background: #fff no-repeat border-box;
  color: #f59b00;
}

.btn-secondary {
  background: #f59b00;
  color: #fff;
}

.btn-secondary:hover {
  background: #fff no-repeat border-box;
  color: #f59b00;
  border: 1px #f59b00 solid;
}

.btn_chekbox {
  background: #f59b00;
  color: #fff;
  margin-left: 80px;
}

/* ----------------- Header ----------------------*/

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.header-main {
  display: flex;
  padding-top: 30px;
}

.header-menu {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
}

.header-img > img {
  width: 95px;
  height: 56px;
  object-fit: cover;
}

.menu-list {
  display: flex;
  gap: 20px;
}
.menu-list a {
  padding: 10px;
  transition: 0.3s;
}
.menu-list a:hover {
  color: #fff;
}
.header_btn {
  margin-left: 90px;
}

/* ----------------- Section Main ----------------------*/
.main {
  padding-top: 90px;
  background: url("../img/bg_header.webp") no-repeat calc(50%) 0%, #2f2f2f;
}
.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-text {
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.section-title-wrap {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 25px;
}
.section-title {
  line-height: 1.3;
  font-size: 61px;
  font-weight: 700;
  color: #fff;
}
.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: #f59b00;
  margin-bottom: 10px;
}
.section-text {
  margin-bottom: 35px;
}
.main-img {
  width: 620px;
  height: auto;
}

.main-cta {
  width: 229px;
  height: 130px;
  align-self: flex-end;
  margin-top: -40px;
}

/* ----------------- Section Main-slide ----------------------*/

.showcase {
  padding: 130px 0;
}
.product-tabs,
.product-tab-panel {
  display: flex;
  justify-content: space-between;
}
.product-tabs {
  border-bottom: 1px solid rgba(245, 155, 0, 0.1);
  margin-bottom: 45px;
}
.product-tabs > li {
  width: 260px;
}
.product-tabs a {
  padding: 50px 0;
  width: 100%;
  justify-content: center;
  position: relative;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #2f2f2f;
}
.product-tabs a.active {
  font-weight: 600;
}
.product-tabs a.active::after {
  content: "";
  border-radius: 99px;
  height: 5px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #f59b00;
}
.product-tab-panels {
  position: relative;
}
.product-tab-panel {
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
.product-tab-panel.active {
  visibility: visible;
  opacity: 1;
  position: static;
}
.product-card {
  padding: 15px;
  width: 260px;
  border-radius: 10px;
  border: 1px solid #a3a3a3;
}

.product-img {
  width: 100%;
  height: 270px;
  object-fit: contain;
}

/* ----------------- Section Content ----------------------*/

.about {
  padding: 80px 0;
  background: url("../img/Vector_bg.webp") no-repeat calc(50% - 400px);
}
.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bags {
  width: 614px;
  height: auto;
}

.content-text {
  width: 460px;
  text-transform: capitalize;
}
.section-content {
  line-height: 1.4;
  font-size: 31px;
  font-weight: 700;
  color: #000;
}

.text-main {
  color: #2f2f2f;
  margin-bottom: 35px;
  text-transform: capitalize;
}

/* ----------------- Center Text ----------------------*/

.text-center {
  width: 514px;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 60px;
}

/* ----------------- catalog ----------------------*/
.catalog {
  padding: 130px 0;
}
.catalog-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.catalog-main {
  width: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  width: 264px;
  height: 273px;
  mix-blend-mode: normal;
  border-radius: 10px;
  margin-bottom: 90px;
}

.item_1 {
  background: #ffe1e8;
}

.item_2 {
  background: #ffe1e8;
}

.item_3 {
  background: #f9dcff;
}

.item_4 {
  background: #ffdee7;
}

.item_5 {
  background: #ecf1ff;
}

.item_6 {
  background: #fadade;
}

.item_7 {
  background: #fadade;
}

.item_8 {
  background: #ebf4bf;
}

.catalog-bag {
  width: 177px;
  height: 251px;
  object-fit: cover;
  margin: 55px 44px 0 44px;
  filter: drop-shadow(0px 8px 40px rgba(47, 47, 47, 0.2));
}

/* ----------------- Search ----------------------*/

.main-search {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 549px;
  background: rgba(47, 47, 47, 0.95);
  border-radius: 10px;
}

.man_bag {
  width: 492px;
  height: auto;
  opacity: 0.5;
}

.search-content {
  background: url(../img/serach_bg.webp);
  width: 100%;
  padding: 104px 70px;
}

.seacrh_heading {
  font-size: 31px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.4;
  color: #fff;
  padding-bottom: 44px;
}

.name_email {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  opacity: 0.25;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 15px 0 15px 30px;
}

.seacrh_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seacrh_address {
  width: 100%;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  opacity: 0.25;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 15px 0 15px 30px;
}

.address {
  padding: 30px 0 30px 0;
}

/* ----------------- Brands ----------------------*/

.brands {
  padding: 130px 0 130px 0;
}

.brands_img {
  width: 264px;
  height: 70px;
  object-fit: cover;
}

.brands_content {
  display: flex;
  justify-content: space-between;
}

/* ----------------- Footer ----------------------*/

.footer{
  width: 100%;
  height: 368px;
  background: #2F2F2F;
}

.footer_main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 97px 0 97px 0;
}

.footer_about{
  width: 220px;
}


